*{
    box-sizing: border-box;
    margin : 0px;
    padding : 0px;
}
body{
    background-image: url('voldemortcvmodal.jpg');
    background-repeat : no-repeat;
    background-size: cover;
}
legend{
    color : hsl(180, 28%, 65%);
    text-align: center;
    font-size: 3rem;
    font-weight : bolder;
}
form{
    display : flex;
    flex-direction: column;
    padding: 5%;
}
input{
    width : 50%;
    height : 60px;
    border-radius : 8px;
    margin-top: 5%;
    padding : 1%;
    background-color: hsl(180, 28%, 65%);
}
textarea{
    width : 80%;
    height : 180px;
    border-radius : 8px;
    background-color: hsl(180, 28%, 65%);
    margin-top: 5%;
    padding : 1%;
}
button{
    width : 9%;
    height : 3rem;
    margin-top : 2%;
    margin-left : 70%;
    padding : auto;
    background-color: grey;
    color : white;
    border-radius : 8px;
    font-weight: bold;
}
button a{
    text-decoration: none;
    color : white;
    font-size : 1.3rem;
}
@media screen and (max-width : 768px){
    body{
        background-size: 100% 100%;
        background-repeat: repeat;
    }
    form{
        align-items : center;
    }
    input, textarea{
        width : 90%;
        padding : auto;
        margin-top : 15%;
    }
    button{
        width : 40%;
        margin-left : initial;
    }
}