*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
body{
    background-image: url(./assets/images/voldemortcvmodal.jpg);
    background-size: cover;
    color :rgb(156, 136, 136);
    font-size : 2rem;
    font-family : eater;
}
header h1{
    text-align : center;
    font-size : 6rem;
    color : black;
    margin-bottom : 80px;
}
h1{
    font-size : 2rem;
}
h2{
    font-size : 1.5rem;
}
.references{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items : flex-start;
    padding : 5%;
}
.reference{
    width : 100%;
    display : flex;
    justify-content : flex-start;
    gap : 80px;
    align-items: center;
    margin-bottom : 2%;
}
img{
    width : 150px;
    height : 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border : 3px solid rgb(29, 42, 35);
}
.reference > img:hover{
    transform : scale(1.8);
    transition : transform 2s;
}
@media screen and (max-width : 768px){
    header h1{
        font-size : 1.5rem;
    }
    h1{
        font-size : 1.5rem;
    }
    h2{
        font-size : 1rem;
    }
    .references{
        align-items : center;
    }
    .reference{
        flex-direction : column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap : nowrap;
        gap : 5%;
        margin-top : 8%;
    }
    .reference img{
        width : 30%;
        height : 30%;
        aspect-ratio: 1/1;
    }
    .reference > img:hover{
        transform : none;
        transition : none;
    }
    .reference h1, .reference h2{
        text-align: center;
    }
}