:root{
    --primary-color : hsl(180, 28%, 65%);
    --secondary-color : hsl(154, 17%, 25%);
    --third-color : hsl(191, 95%, 8%);
    --light : rgba(227, 241, 241, 0.954);
    --dark : rgb(15, 7, 24);
    --grey : hsla(202, 6%, 39%, 0.421);
    --fontEffrayante : @import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
    --fontPasEffrayante : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --spacing : 8px;
    --spacing2 : 16px;
}
