
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import '../styles/variable.css';
@import '../styles/headerAccueil.css';
@import "../styles/bodyAccueil.css";
@import "../styles/footerAccueil.css";
@import '../styles/modalRef.css';
@import '../styles/modalCompetence.css';

*{
    box-sizing: border-box;
    
    
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #0a0707aa;
    backdrop-filter: blur(5px);
}

  /* Modal Content/Box */
.modal-content {
    display:none;
    background-image: url('../images/voldemortcvmodal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    margin: 5% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    color:grey;
    overflow: auto; /* Enable scroll if needed */
    width: 90%; /* Could be more or less, depending on screen size */
    height:90%;
    
}

.modalPresentation{
    display: none;
    top: 100px;
    margin:  auto;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: var(--fontPasEffrayante);
}

.modalFormation{
    display: none;
    top: 100px;
    margin:  auto;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: var(--fontPasEffrayante);
}
.modalFormation h1{
    text-align: center;
    font-weight : bolder;
    line-height : 2rem;
    font-family:  var(--fontPasEffrayante);
    font-size : 3rem;
    
}
.divFormation{
    
    font-family: var(--fontPasEffrayante);
    list-style: none;
    font-size: clamp(2rem, 3vw, 3rem);
    justify-self: center;
    padding: 10%;
}

.divFormation p{

    list-style: none;
    font-family: var(--fontPasEffrayante);
    font-size: 1.5rem;

}
.dates{
    font-size : 2rem;
    font-family: var(--fontPasEffrayante);
}

.modalCompetences{
    display: none;
    top: 100px;
    margin:  auto;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family:  var(--fontPasEffrayante);
}

.modalExperience{
    display: none;
    top: 100px;
    margin:  auto;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family:  var(--fontPasEffrayante);
}

.modalExperience  h1{
    text-align: center;
    font-weight : bolder;
    line-height : 2rem;
    font-family:  var(--fontPasEffrayante);
    font-size : 3rem;
    
}
.modalExperience ul{
    padding : 5%;
    display : flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    
}
.modalExperience li{
    margin-bottom : 5%;
    font-size: 2rem;
    line-height : 2rem;
    font-family:  var(--fontPasEffrayante);
    
}
.modalExperience  p{
    background-color: rgba(0, 0, 0, 0.498);
    padding: 2rem;
    border-radius: 4px;
}
.modalContact{
    display: none;
    top: 100px;
    margin:  auto;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family:  var(--fontPasEffrayante);
}

    .modalContact legend{
        color : hsl(180, 28%, 65%);
        text-align: center;
        font-size: 3rem;
        font-weight : bolder;
    }
    .modalContact form{
        display : flex;
        flex-direction: column;
        padding: 5%;
    }
    .modalContact input{
        width : 100%;
        height : 40px;
        border-radius : 8px;
        margin-bottom: 10%;
        padding : 1%;
        background-color: hsl(180, 28%, 65%);
    }
    .modalContact label{
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        text-align: left;

    }
    .error{
        
        color: red;
    }

    .modalContact  textarea{
        width : 100%;
        height : 180px;
        border-radius : 8px;
        background-color: hsl(180, 28%, 65%);
        padding : 1%;
    }
    .modalContact  button{
        width : 17%;
        height : 3rem;
        margin-top : 2%;
        margin-left : 70%;
        padding : auto;
        background-color: grey;
        color : white;
        border-radius : 8px;
        font-weight: bold;
    }
    .modalContact button a{
        text-decoration: none;
        color : white;
        font-size : 1.3rem;
    }
.modalReference{
    display: none;
    top: 100px;
    margin:  auto;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family:  var(--fontPasEffrayante);
}

.modalInformation{
    display: none;
    top: 100px;
    margin:  auto;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family:  var(--fontPasEffrayante);
}


.banniere{
    display: flex;
    justify-content: space-between;
    perspective: 5000px;
    transform-style: preserve-3d;
}


.modalInformation h1{
    margin: 2%;
    font-size: 3rem;
}

.banniere img{
    width: 200px;
    height: 250px;
    filter: drop-shadow(10px 10px 4px #121212ae) ;
    animation: taille 2s ease-in-out infinite alternate;
    transform-origin: center top;
    
}

@keyframes taille{
    from{transform:rotateX(20deg)}
    to{transform:rotateX(-20deg)}

}
.imgSerpent{
    width: 40%;
    margin-bottom: 5%;
}
.divInformation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: clamp(4rem, 5vw, 10rem);
}

.divInformation h2{    
    font-family: var(--fontPasEffrayante);
    font-size: 2.5rem;
    
}

.divInformation ul,li{
 
    list-style: none;
    font-family: var(--fontPasEffrayante);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;

}
.divInformation div {
   justify-self: center;
   background-color: rgba(0, 0, 0, 0.498);
   width: 100%;
   padding: 2rem;
   border-radius: 4px;
   
}

.footerModalInfo{
    display: flex;
    justify-content: center;

    margin: 1rem;
}

.deathEater{
    width: 40%;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


@media screen and (max-width:1000px) {
    
    
    
   
    .modal-content{
        width: 100%;
    }

    .modalContact div{
        width:100%
    }
    .modalContact form{
        align-items : center;
        padding: 15%;
    }
    .modalContact input, textarea{
        width : 90%;
        padding : auto;
        margin-top : 10%;
        
    }
    .modalContact button{
        width : 80%;
        margin-left : initial;
        margin-top: 5%;

        
    }

    .modalPresentation div{
        width:100%
    }

    .modalFormation {
        width:100%
    }
    .modalCompetences div{
        width:100%
    }

    .modalExperience div{
        width:100%
    }

    .modalExperience li{
        
        line-height : 1rem;
        
        
    }
    
    .modalExperience  h1{
    
        font-size : 1rem;
    }

    .modalExperience  li p{
    
        font-size : 1rem;
        
    }

    .dates{
        font-size: 1.5rem;
    }

    .modalReference div{
        width:100%
    }

    .modalInformation div{
        width:100%
    }
    .divInformation {
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }   

    .divFormation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%
    } 
    .divFormation p{
        font-size: 1.5rem;
    }

    .banniere img{
        width: 100px;
        height: 50%;                                                                
    }

    .deathEater{
        width:100%;
        height: 100%;
    }
    modalReferenceheader h1{
        font-size : 1.5rem;
    }
    modalReference h1{
        font-size : 1.5rem;
    }
    modalReference h2{
        font-size : 1rem;
    }
    .persoReferences{
        align-items : center;
    }
    .persoReference{
        flex-direction : column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap : nowrap;
        gap : 5%;
        margin-top : 8%;
    }
    .persoReference img{
        width : 30%;
        height : 30%;
        aspect-ratio: 1/1;
    }
    .persoReference > img:hover{
        transform : none;
        transition : none;
    }
    .persoReference h1, .reference h2{
        text-align: center;
    }
    .banniere{
        width: 100%;
    }
}



